{% extends '_navbar.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body_home %}
    <div class="container">
        <div class="row py-5 mt-4 align-items-center">
            <img class="img-fluid" src="../../assets/images/tickets_poster.png">
        </div>
    </div>
{% endblock %}

